.navBar_container{
    width: 100%;
    height: 50px;
    display: flex;
justify-content: space-between;
margin-top: 25px;
}

.navBar__logo{
    height: 48px;
    width: 193px;
    background-color: black;
    margin-left: 65px;
    
}
.navBar__options{
    display: flex;

    align-items: center;
    
}
.nav__option{
text-align: end;
padding-top: 10px;
margin-right: 60px;
color: blanchedalmond;

}