.aboutPage__container{
display: flex;
justify-content: space-between;
margin-top: 3%;
margin-bottom: 18px;
}
.aboutPage__img{

height: 450px;
inset: 0;
margin: 0 auto;
}
.aboutPage__wrapper{
    width: 610px;
    margin: 0 auto;
}
.aboutPage__title{
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: justify;
    font-size: 60px;
}
.aboutPage__descrip{
    text-align: justify;
    font-size: 14px;
}

.aboutPage__cv{
   margin-left: 20%;
text-decoration: none;
color: white;
background-color: rgba(173, 173, 173, 0.493);
padding: 5px;
}

.aboutPage__cv:hover{
    color: gray;
    text-decoration: gray;
    background-color: white ;
}